@import 'globals'
//@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')

html
  //height: 100%
  width: 100%
  margin: 0
  padding: 0
  box-sizing: border-box

body
  //height: 100%
  width: 100%
  margin: 0
  padding: 0
  background-image: Url('../pattern-bg-grey.png')
  background-size: repeat
  font-family: Montserrat, sans-serif
  box-sizing: border-box

form
  box-sizing: border-box
  input
    box-sizing: border-box

.error-msg
  color: red

button, .button
  margin: 0.5rem
  border: none
  background-color: white
  color: black
  font-size: 1em
  padding: 2% 6%
  box-sizing: border-box
  border-radius: 7px
  float: right
  font-weight: 400
  text-decoration: none
  &:hover
    color: white
    transition: 0.15s ease-in-out
    cursor: pointer

.attention-btn
  border-radius: 2pt
  margin: 0
  width: 100%
  padding: 1.3rem 0rem
  color: white
  background-color: $color-pink-theme
  outline: none

// GENERAL STYLING //
.content-box
    border-radius: $box-border-radius
    background-color: white
    box-sizing: border-box
    float: left
    width: 100%
