@import 'index'
@import 'globals'

// SIDEBAR //
.side-bar
  width: 20%
  height: 100%
  position: fixed
  left: 0
  top: 0
  background-color: white
  padding: $content-box-padding
  box-sizing: border-box

// PROFILE INFO //

.profile-info
  width: 100%
  float: left
  img
    box-sizing: border-box
    width: 60%
    border-radius: 100%

  .user-profile-name
    font-weight: 500

  .user-description
    font-weight: 300
    color: $color-background-dark
