.profile-info {
  width: 100%;
  float: left;
  list-style-type: none;
  padding: 0;
  margin-top: 25%; }
  .profile-info img {
    box-sizing: border-box;
    width: 80%;
    margin: 0% 10%;
    border-radius: 100%; }
  .profile-info h2 {
    text-align: center; }
  .profile-info .user-description {
    font-weight: 300;
    color: #e4e4ec; }
