@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
html {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: Url("../pattern-bg-grey.png");
  background-size: repeat;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box; }

form {
  box-sizing: border-box; }
  form input {
    box-sizing: border-box; }

.error-msg {
  color: red; }

button, .button {
  margin: 0.5rem;
  border: none;
  background-color: white;
  color: black;
  font-size: 1em;
  padding: 2% 6%;
  box-sizing: border-box;
  border-radius: 7px;
  float: right;
  font-weight: 400;
  text-decoration: none; }
  button:hover, .button:hover {
    color: white;
    transition: 0.15s ease-in-out;
    cursor: pointer; }

.attention-btn {
  border-radius: 2pt;
  margin: 0;
  width: 100%;
  padding: 1.3rem 0rem;
  color: white;
  background-color: #ff7381;
  outline: none; }

.content-box {
  border-radius: 7px;
  background-color: white;
  box-sizing: border-box;
  float: left;
  width: 100%; }

h2 {
  color: #464664;
  font-weight: 600;
  font-size: 1.2em; }

html {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: Url("../pattern-bg-grey.png");
  background-size: repeat;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box; }

form {
  box-sizing: border-box; }
  form input {
    box-sizing: border-box; }

.error-msg {
  color: red; }

button, .button {
  margin: 0.5rem;
  border: none;
  background-color: white;
  color: black;
  font-size: 1em;
  padding: 2% 6%;
  box-sizing: border-box;
  border-radius: 7px;
  float: right;
  font-weight: 400;
  text-decoration: none; }
  button:hover, .button:hover {
    color: white;
    transition: 0.15s ease-in-out;
    cursor: pointer; }

.attention-btn {
  border-radius: 2pt;
  margin: 0;
  width: 100%;
  padding: 1.3rem 0rem;
  color: white;
  background-color: #ff7381;
  outline: none; }

.content-box {
  border-radius: 7px;
  background-color: white;
  box-sizing: border-box;
  float: left;
  width: 100%; }

.side-bar {
  width: 20%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  padding: 3%;
  box-sizing: border-box; }
  .side-bar .sidebar-search {
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 1em; }
  .side-bar .search-item:hover {
    cursor: pointer;
    background-color: #eee; }

.user-side-bar {
  width: 20%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  padding: 3%;
  box-sizing: border-box; }
  .user-side-bar .sidebar-search {
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 1em; }

.menu {
  list-style-type: none;
  color: #646478;
  padding: 0; }
  .menu li {
    padding: 2% 0;
    font-weight: 500; }
    .menu li span {
      margin-left: 10px; }

.profile-info {
  width: 100%;
  float: left;
  list-style-type: none;
  padding: 0;
  margin-top: 25%; }
  .profile-info img {
    box-sizing: border-box;
    width: 80%;
    margin: 0% 10%;
    border-radius: 100%; }
  .profile-info h2 {
    text-align: center; }
  .profile-info .user-description {
    font-weight: 300;
    color: #e4e4ec; }

html {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: Url("../pattern-bg-grey.png");
  background-size: repeat;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box; }

form {
  box-sizing: border-box; }
  form input {
    box-sizing: border-box; }

.error-msg {
  color: red; }

button, .button {
  margin: 0.5rem;
  border: none;
  background-color: white;
  color: black;
  font-size: 1em;
  padding: 2% 6%;
  box-sizing: border-box;
  border-radius: 7px;
  float: right;
  font-weight: 400;
  text-decoration: none; }
  button:hover, .button:hover {
    color: white;
    transition: 0.15s ease-in-out;
    cursor: pointer; }

.attention-btn {
  border-radius: 2pt;
  margin: 0;
  width: 100%;
  padding: 1.3rem 0rem;
  color: white;
  background-color: #ff7381;
  outline: none; }

.content-box {
  border-radius: 7px;
  background-color: white;
  box-sizing: border-box;
  float: left;
  width: 100%; }

.content {
  width: 80%;
  min-height: 100%;
  position: absolute;
  left: 20%;
  padding: 2%;
  background-color: #dfe3eb;
  box-sizing: border-box; }

.user-content {
  width: 80%;
  min-height: 100%;
  position: absolute;
  left: 0;
  padding: 2%;
  background-color: #eeeff3;
  box-sizing: border-box; }

.left-content-column {
  width: 60%;
  float: left; }

.left-content-column-contact-view {
  width: 74%;
  float: left; }

.right-content-column {
  width: 37%;
  margin-left: 2%;
  float: left; }

.post-form {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  float: left;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 4% 3% 3% 3%;
  margin-bottom: 2rem; }
  .post-form ::placeholder {
    color: #3e5aa9;
    font-weight: 100; }
  .post-form textarea {
    color: #3e5aa9;
    width: 100%;
    min-height: 150px;
    float: left;
    box-sizing: border-box;
    border: none;
    margin-bottom: 4% 3% 3% 3%;
    font-size: 1.5em;
    background-color: transparent;
    resize: none;
    outline: none;
    font-weight: 300; }
  .post-form .post-btn {
    margin: 0;
    padding: 0;
    outline: none; }
    .post-form .post-btn:hover {
      transition: transform .1s ease-in-out;
      cursor: pointer;
      transform: scale(1.05); }

.user-feed {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.post {
  background-color: white;
  box-sizing: border-box;
  margin-bottom: 1rem;
  width: 100%;
  float: left;
  padding: 4% 3% 3% 3%;
  border-bottom: 1px solid #e4e4ec; }
  .post a {
    text-decoration: none; }
  .post h2 {
    color: #39daff;
    font-size: 1.6rem; }
  .post .description {
    width: 25%;
    color: #ff7381;
    font-style: italic; }

.post-content, .post-author {
  float: left;
  box-sizing: border-box;
  word-wrap: break-word; }

.post-author {
  width: 100%; }
  .post-author img {
    width: 20%;
    border-radius: 100%;
    float: left;
    margin-right: 5%; }
  .post-author .post-author-alias {
    width: 75%; }

.post-content {
  width: 75%; }

.up-button {
  color: rgba(0, 0, 0, 0.3); }
  .up-button i {
    margin-right: 1%; }

.active-up-button i {
  color: #4a7de1; }

.chat-wrapper {
  width: 100%;
  float: left;
  border-radius: 7px; }

.chat-picture-wrapper {
  width: 100%;
  float: left;
  background-color: #e4e4ec;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 4% 3% 3% 3%;
  box-sizing: border-box;
  height: 279px;
  overflow-y: scroll; }
  .chat-picture-wrapper .message-wrapper {
    width: 100%;
    float: left;
    margin: 1% 0; }
    .chat-picture-wrapper .message-wrapper .message {
      background-color: white;
      border-radius: 7px;
      width: auto;
      padding: 2% 6%;
      max-width: 60%; }
    .chat-picture-wrapper .message-wrapper .me {
      float: right; }
    .chat-picture-wrapper .message-wrapper .friend {
      float: left; }

.chat-form-wrapper {
  width: 100%;
  float: left;
  background-color: white;
  height: 150px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; }

.contacts-list {
  width: 100%;
  float: left;
  padding: 5%;
  background-color: white;
  border-radius: 7px;
  margin: 10% 0 0 0;
  box-sizing: border-box; }
  .contacts-list h2 {
    text-align: center;
    font-weight: 300; }

.contact {
  box-sizing: border-box;
  width: 100%; }

header {
  width: 100%;
  float: left;
  margin: 10pt 0pt 3% 0pt;
  font-family: 'Pacifico', cursive; }
  header .logo-header {
    float: left;
    margin: 0;
    font-size: 2.5rem;
    color: #3e5aa9;
    letter-spacing: 1pt;
    margin-left: 2rem; }
  header a {
    float: right;
    color: #3e5aa9;
    font-size: 2rem;
    line-height: 1rem;
    margin: 1.9rem 2.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.1s ease-in-out; }
    header a:hover, header a.selected {
      color: white; }
  header .sign-in-btn {
    border-radius: 5pt;
    border: 2pt solid #ff7381;
    margin: 1rem 0%;
    padding: 0.5rem 1rem;
    color: #ff7381;
    background: none; }
    header .sign-in-btn:hover {
      background-color: #ff7381;
      color: white; }

.sign-form {
  width: 40%;
  margin: 0% 30%;
  box-sizing: border-box;
  text-align: center;
  float: left;
  color: #3e5aa9; }
  .sign-form ::placeholder {
    color: #3e5aa9;
    font-weight: 100; }
  .sign-form h1 {
    margin: 10pt 0pt;
    font-family: 'Pacifico', cursive;
    font-weight: 200; }
  .sign-form a {
    color: #ff7381;
    float: left;
    padding: 1rem 0rem; }
  .sign-form .sign-column {
    float: left;
    width: 48%;
    margin: 1%; }
  .sign-form input[type="text"], .sign-form input[type="password"], .sign-form input[type="email"], .sign-form input[type="url"] {
    background: white;
    float: left;
    color: #3e5aa9;
    width: 100%;
    font-size: 1em;
    padding: 1.3rem;
    border: none;
    border-radius: 2pt;
    border-bottom: 2pt solid white;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 1rem; }
    .sign-form input[type="text"]:focus, .sign-form input[type="password"]:focus, .sign-form input[type="email"]:focus, .sign-form input[type="url"]:focus {
      outline: none;
      border-color: #4a7de1; }

.sign-up {
  float: left; }
  .sign-up .button {
    margin: 0% 1%;
    width: 98%; }

.sign-in {
  float: left;
  width: 20%;
  margin: 2% 40%; }

.flupf-info {
  float: left;
  width: 40%;
  margin: 2% 30%;
  text-align: center;
  color: #3e5aa9; }
  .flupf-info h2 {
    color: #3e5aa9;
    font-size: 2rem;
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-weight: 200; }
  .flupf-info p {
    margin: auto;
    text-align: center;
    width: 100%;
    font-weight: 200; }

main {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  float: left; }
